body {
 text-align: center;
}

#topic {
 background: linear-gradient(#ff82f7 20%, #644dfa 80%);
 z-index: 9;
}

.s {
 background: #ff82f7;
 color: #ff82f7;
}

#i1 {
 width: 50%;
}

h1 {
 color: #057d1d;
 font-size: 35px;
}

h2 {
 color: #8f0303;
 font-size: 30px;
}

#all_sections {
 background: linear-gradient(#3db1f5 0%, #05871d 100%);
 font-size: 25.4px;
 color: #9e9e20;
}

.main {
 font-family: sans-serif;
 position: fixed;
 top: 0px;
 margin-top: 0px;
 z-index: 10;
 cursor: pointer;
 background-color: white;
 width: 100%;
 text-align: center;
}

.line {
 height: 6px;
 background-color: black;
 width: 70px;
 margin: 8px auto;
}

.links {
 float: left;
 color: #FFFFFF;
 padding: 5px;
 padding-left: 9px;
 padding-right: 9px;
 padding-bottom: 5px;
 font-family: fantasy;
 font-size: 20px;
}

.links:hover {
 background-color: darkblue;
 font-size: 25px;
 text-decoration: underline;
}
