body{
  text-align: center;
}
#topic{
  background: linear-gradient(#ff82f7 20%, #644dfa 80%);
  z-index: 9;
}
#i1{
  width: 50%;
}
h1{
  color: #057d1d;
  font-size: 35px;
}
h2{
  color: #8f0303;
  font-size: 30px;
}
#all_sections{
  background: linear-gradient(#3db1f5 0%, #05871d 100%);
  font-size: 25.4px;
  color: #9e9e20;
}
.main{
  list-style: none;
 font-family: sans-serif;
 position: absolute;
 top: 10px;
 right: 30px;
 z-index: 10;
 cursor: pointer;
  background-color: #ff82f7;
}
.links{
 float: left;
 color: #FFFFFF;
 padding: 5px;
 padding-left: 9px;
 padding-bottom: 5px;
 font-family: fantasy;
 font-size: 20px;
}
.links:hover{
 background-color: darkblue;
}